In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Camacupa,AO,2021-10-19 22:47:42,-12.0167,17.4833,65.80,84,100,1.81
1,1,Hermanus,ZA,2021-10-19 22:47:43,-34.4187,19.2345,61.90,89,3,12.30
2,2,Rikitea,PF,2021-10-19 22:47:05,-23.1203,-134.9692,75.00,76,0,20.78
3,3,Chico,US,2021-10-19 22:43:39,39.7285,-121.8375,67.57,41,75,1.01
4,4,Moroto,UG,2021-10-19 22:47:43,2.5345,34.6666,70.18,65,69,3.49

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:

# Heatmap of temperature

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

    
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:

# Heatmap of temperature

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]


    
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 30

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
16,16,Qaanaaq,GL,2021-10-19 22:47:48,77.4840,-69.3632,24.93,92,99,7.38
25,25,Solnechnyy,RU,2021-10-19 22:47:51,50.7214,136.6319,25.81,62,62,0.60
35,35,Vostok,RU,2021-10-19 22:47:55,46.4856,135.8833,22.12,54,12,1.03
38,38,Tasiilaq,GL,2021-10-19 22:47:56,65.6145,-37.6368,28.56,51,1,6.06
45,45,Langxiang,CN,2021-10-19 22:47:58,46.9500,128.8833,29.23,60,80,1.83
59,59,Tuktoyaktuk,CA,2021-10-19 22:48:04,69.4541,-133.0374,17.60,100,20,12.66
61,61,Barrow,US,2021-10-19 22:48:05,71.2906,-156.7887,23.02,74,75,23.02
73,73,Aklavik,CA,2021-10-19 22:48:09,68.2191,-135.0107,20.23,86,72,10.76
79,79,Pevek,RU,2021-10-19 22:48:11,69.7008,170.3133,16.18,92,100,15.14
81,81,Dikson,RU,2021-10-19 22:48:12,73.5069,80.5464,27.72,58,100,7.90

In [22]:

preferred_cities_df.count()

City_ID       47
City          47
Country       47
Date          47
Lat           47
Lng           47
Max Temp      47
Humidity      47
Cloudiness    47
Wind Speed    47
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
16      Qaanaaq      GL     24.93  77.4840  -69.3632
25   Solnechnyy      RU     25.81  50.7214  136.6319
35       Vostok      RU     22.12  46.4856  135.8833
38     Tasiilaq      GL     28.56  65.6145  -37.6368
45    Langxiang      CN     29.23  46.9500  128.8833
59  Tuktoyaktuk      CA     17.60  69.4541 -133.0374
61       Barrow      US     23.02  71.2906 -156.7887
73      Aklavik      CA     20.23  68.2191 -135.0107
79        Pevek      RU     16.18  69.7008  170.3133
81       Dikson      RU     27.72  73.5069   80.5464

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng              Hotel Name
16      Qaanaaq      GL     24.93  77.4840  -69.3632           Qaanaaq Hotel
25   Solnechnyy      RU     25.81  50.7214  136.6319  Hotel complex Pastoral
35       Vostok      RU     22.12  46.4856  135.8833
38     Tasiilaq      GL     28.56  65.6145  -37.6368           The Red House
45    Langxiang      CN     29.23  46.9500  128.8833             Pearl Hotel
59  Tuktoyaktuk      CA     17.60  69.4541 -133.0374    End of The Road Ltd.
61       Barrow      US     23.02  71.2906 -156.7887          King Eider Inn
73      Aklavik      CA     20.23  68.2191 -135.0107             Aklavik Inn
79        Pevek      RU     16.18  69.7008  170.3133        Severnoye Zoloto
81       Dikson      RU     27.72  73.5069   80.5464

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))