## Deliverable 3. Create a Travel Itinerary Map.

In [46]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [47]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv(r'C:/Users/maria/Desktop/Classwork/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv')



vacation_df.head()

,City_ID,City,Country,Max Temp,Current Descrption,Lat,Lng,Hotel Name
0,3,New Norfolk,AU,51.93,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,11,Katsuura,JP,57.31,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
2,12,Punta Arenas,CL,51.91,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,13,Ushuaia,AR,49.66,clear sky,-54.8000,-68.3000,Albatros Hotel
4,16,Bluff,NZ,52.88,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [48]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Descrption}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [49]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lompoc"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lompoc"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Craig"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Casper"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Baker City"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Descrption,Lat,Lng,Hotel Name
24,111,Lompoc,US,59.92,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [51]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [52]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Descrption,Lat,Lng,Hotel Name
0,111,Lompoc,US,59.92,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,338,Craig,US,52.79,clear sky,40.5153,-107.5464,"Candlewood Suites Craig-Northwest, an IHG Hotel"
2,540,Casper,US,41.00,overcast clouds,42.8666,-106.3131,Ramkota Hotel
3,351,Baker City,US,50.65,clear sky,44.7749,-117.8344,Bridge Street Inn

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Descrption}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(40.0, -123.0), zoom_level=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))